@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.container{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5) ,rgba(0,0,0,0.7) ), url(./images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 8%;
    padding-right: 8%;
}

.header{
    height: 12%;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin: 5%;
}

.menu{
    padding-right: 20px;
}

.logo h2{
    font-size: 30px;
    border: 1px solid #FFF;
    padding: 10px;
}

.menu ul{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    list-style: none; 
}

.menu li{
    padding: 10px;
    transition: 0.5s ease;
}

.menu li:hover{
    transform: translateY(-10%);
    opacity: 50%;

 }

.menu a{
    color: #FFF;
    text-decoration: none;
 }

 .content-detail h1{
    font-size: 100px;
 }


 .btn-1{
    margin-top: 30px;
    width: 130px;
    height: 40px;
    box-shadow: inset 0 0 0 0 #FDAD01;
    transition: ease-out 0.5s;
    font-size: 20px;
    border-radius: 30px;  
    border: none;
    outline: none;
    opacity: 30%;
 }

 .btn-1:hover{
    opacity: 100%;
    box-shadow: inset 130px 0 0 0 #FDAD01;
 }

 .content-detail{
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
   
 }

 .row-detail{
    color: #FFF;
    flex-basis: 88%;
    margin: 0 4% ;
 }

.card{
    display: inline-block;
    width: 200px;
    height: 230px;
    padding: 15px 25px;
    margin: 15px 20px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    transition: 0.5s ease;
}

.card-1{
    background-image: url(./images/card1.jpg);

}
.card-2{
    background-image: url(./images/card2.jpg);
}
.card-3{
    background-image: url(./images/card3.jpg);
}
.card-4{
    background-image: url(./images/card4.jpg);
}
.backgroud-card{
    margin-left:30px;
    margin-top: 180px;
    color: #000;
    border-radius: 10px;
    font-size: 12px;
    width: 90px;
    background-color: #FFF;
    text-align: center;
}

.card:hover{
transform: translateY(-7%)
}


@media only screen and (max-width: 900px){
    /* For tablets: */
    .card{
        display: inline-block;
        width: 80px;
        height: 200px;
        padding: 15px 25px;
        margin: 30px 25px;
        border-radius: 10px;
        background-position: center;
        background-size: cover;
        transition: 0.5s ease;
    }

    .backgroud-card{
       opacity: 0;
    }
  }

  @media only screen and (max-width: 1300px){
    /* For tablets: */
    .card{
        display: inline-block;
        width: 150px;
        height: 200px;
        padding: 15px 25px;
        margin: 30px 25px;
        border-radius: 10px;
        background-position: center;
        background-size: cover;
        transition: 0.5s ease;
    }

    .backgroud-card{
        margin-left:5px;
        margin-top: 180px;
        color: #000;
        border-radius: 10px;
        font-size: 12px;
        width: 90px;
        background-color: #FFF;
        text-align: center;
    }
    
  }

  @media only screen and (max-width: 700px){

    .logo{
        margin: 10px;
    }

    .logo h2{
        font-size: 20px;
        border: 1px solid #FFF;
        padding: 10px;
    }
    .card{
        opacity: 0;
    }

    .backgroud-card{
        opacity: 0;
    }
  }


